mqttPort=
mqttServer=
mqttTopic=thebutton/cb/+/register
mqttClientid=thebutton-server
mqttUsername=
mqttPassword=
mqttKeystore=/
mqttKeystorePW=changeit
mqttClean=true
sqlUrl=jdbc:mysql://localhost:3306/thebutton
sqlUser=thebutton
sqlPassword=
logLevel=FINEST
#FINEST or it will default to INFO

#ALL CONFIG FINE FINER FINEST INFO OFF SEVERE WARNING if not set to FINEST